<h1>Edit Page</h1>
<%= render "shared/form_edit" %>
<% if @listing.uploaded_images.attached? == true %>
  
  <% @listing.uploaded_images.each do |image| %>
   <%=image_tag image.service_url, class: 'image-size'%>
  <% end %>
  <%= link_to 'Remove Images', destroy_image_path, data: { confirm: 'Are you sure?' } %>

<% else %>
  <p>No image for this listing.</p>
<% end %>