<h1>Your Bookings</h1>

<% if @user.bookings.count != 0 %>
  <% @booking.each do |booking| %>
    <% if booking.user_id == current_user.id  %>
      <p><%= booking.listing.title %> </p> 
    <% end %>
  <% end %>
<% elsif %>
  nothing to see here
<% end %>

