<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    <% User %>
      has cancelled their booking at <%=Booking.last.listing.title%>
    </p>
    <p>Your property has been labeled as "available" </p>
  </body>
</html>