
.listing_new_form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;

}

.listing_new_form-container form {
  width: 50%;
  height: 50%;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
  border-color: rgba(34, 38, 60, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between,
}
.listing_new_form_input-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  justify-content: space-around;
}

.listing_new_form_textbox-container {
  padding: 50px;
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
  
.listing_new_form_checkbox-container {
  padding: 50px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listing_new_form-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}


.listing_new_form-container input#title{
  width: 15vw;
  border-style: solid;
  border-color: rgba(34, 38, 60, 0.8);
}
.listing_new_form-container input#location{
  width: 15vw;
  border-style: solid;
  border-color: rgba(34, 38, 60, 0.8);
}
.listing_new_form-container textarea#description {
  width: 15vw;
  border: 2px solid;
  border-color: rgba(34, 38, 60, 0.8);
  border-radius: 4px;
  box-sizing:border-box;
}
.listing_new_form-container input#cost{
  width: 15vw;
  border-style: solid;
  border-color: rgba(34, 38, 60, 0.8);
}
.listing_new_form-container input#uploaded_images{
  width: 15vw;
  border-style: solid;
  border-color: rgba(34, 38, 60, 0.8);
}


.listing_new_form_images-container {

}
.listing_new_form_submit-container {

}