.index-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  width: 100vw;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.index-container h1{
  color:white;
  font-size: 50px;
}

.index-container h2{
}

.index-content {
  height: 50%;
  width: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.index-search-container{
  height: 40%;
  width: 90%;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color:white;
}

.index-search-container input[type=date]{
  width: 18%; 
}

.index-search-container input[type=text]{
  width: 22%; 
}

.index-search-container input[type=submit]{
  background-color: lightblue; 
}

.index-search-container form {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-search-container input{
  width: 15%;
  padding: 3px;
  margin: 10px;
  border-radius: 4px;
  border: none;
}

.listings-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  background: white;
}

.listings-container p{
  margin-bottom: 0;
  font-size: 14px;
}

.listings-search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  background: white;
}

.listings-search-container h3{
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
  padding-bottom: 5px;
}


.listings-container h3 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid blue;
}

.listings-placeholder-container{
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

.listings-placeholder{
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.listings-placeholder :hover{
  background-color: white;
  opacity: 0.8 ;
}

.listings-image-placeholder{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.listings-image-placeholder a{
  width: auto;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.listing-style-image{
  width: 100%;
  height: 100%;
}