.navbar-container{
  height: 90px;
  width: 100vw;
  text-align: center;
  margin: 0px auto;
  display: flex; 
  justify-content: space-between;
  top: 0;
  position:fixed;
  background-color: rgb(33, 40, 61);
  z-index: 1;
}

.navbar-image-container{
  height: 100%;
  width: 350px; 
  background: url('linkedin_banner_image_1.png');
  background-size: contain;
  background-repeat: no-repeat;
  display:flex;
  justify-self: flex-start;
}

.navbar-menu-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.navbar-menu-container a{
  font-size: 14px;
  font-weight: 300;
  padding: 10px 15px;
  color: white;
}


.dropbtn {
  padding: 15px;
  border: none;
  background-color: rgb(33, 40, 61);
  color:white;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Raleway';
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  background-color: rgb(33, 40, 61);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: rgb(33, 40, 61);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
  background-color: rgb(33, 40, 61);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(33, 40, 61); color: #03c5ec;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(33, 40, 61);color: #03c5ec;}

